.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: bold;
}

.flexbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 0;
  min-height: 24em;

}

.flexbox-item {
  max-width: 50%;

}

.fixed {
  flex: none;
  max-width: 50%;
}

.w-100 {
  float: left;
  width: 100%;
}

.aligncenter {
  text-align: center;
}

.mb-20 {
  margin-bottom: 20px;
}

.col-3 {
  width: 30%
}

.col-7 {
  width: 70%
}

.col-3,
.col-7 {
  float: left;
}

#form-in {
  padding: 30px;
  border: 1px solid #000;
  border-radius: 20px;
  float: left;
  width: 100%;
  max-width: 600px;
}

input[type=text] {
  padding: 10px;
}

.btn{
  border-radius: 40%;
  padding: 5px;

}
