body{
    margin: 0;
    width: 100%;
}

header{
    position: fixed; 
    margin:0 auto;
    display: inline-block;
    width: 100%;
    height: 50px;
    background-color: white;
}

nav {
    padding: 11px;
    float: right;
}

A {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
  }

  section{
    text-align: center;
      margin-top: 10px;
      background-image: url(../img/pattern.jpg);
  }